<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Order Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h1> Order Details </h1>
    <h3>Order ID: <span th:text="${id}"/></h3>
    <h3>First Name: <span th:text="${firstName}"/></h3>
    <h3>Middle Name: <span th:text="${middleName}"/></h3>
    <h3>Last Name: <span th:text="${lastName}"/></h3>
    <h3>Email: <span th:text="${email}"/></h3>
    <h3>Phone: <span th:text="${contactAreaCode}"/> <span th:text="${contactNumber}"/></h3>
    <h3>Order time: <span th:text="${createdTAD}"/></h3>
    <h3>Product: <span th:text="${productName}"/></h3>
    <h3>Comment: <span th:text="${orderComment}"/></h3>

</div>

</body>
</html>